<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link href="../../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
</head>
<body>
<div class="grid">
    <div class="opacityArea">
        <div class="topnav">
            <div>
                <a class="topNavButton" href="/">Strona główna</a>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_TEACHER')">
                <a class="topNavButton" href="/dancers">Tancerze</a>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="topNavButton" href="/users">Użytkownicy</a>
            </div>
            <div style="float: right;" sec:authorize="isAnonymous()">
                <a class="topNavButton" href="/login">Zaloguj</a>
            </div>
            <div style="float: right;" sec:authorize="isAuthenticated()">
                <a class="topNavButton" href="/logout">Wyloguj</a>
            </div>
        </div>
    </div>
    <div class="detailed" th:object="${group}">
        <form id="newGroup" th:action="@{/dancers/saveGroup}" method="post">
            <label>nazwa&nbsp;
                <input type="text" th:field="*{name}" required>
            </label>
            <label>miejscowość&nbsp;
                <input type="text" th:field="*{town}">
            </label>
            <label>adres&nbsp;
                <input type="text" th:field="*{address}">
            </label>
            <label>opis&nbsp;
                <input type="text" th:field="*{description}">
            </label>
        </form>
        <!--todo: edytowanie grup-->
    </div>
    <div style="grid-column-start: 2; padding-top: 20px;">
        <a class="insideButton" href="#" onclick="document.getElementById('newGroup').submit()"
           style="grid-column-start: 2">Dodaj</a>
    </div>
</div>
</body>
</html>