body{
    padding: 0;
    margin: 0;
}
.grid {
    background: #00271c;
    color: #cfff00;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-auto-columns: auto auto;
}
.list{
    grid-column-start: 2;
}
#topnav{
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    top: 0px;
    background-color: #401303;
    height: 40px;
}
.topNavButton{

}
.registerButton{
    background:    #401303;
    background:    -webkit-linear-gradient(#401303, #00271c);
    background:    linear-gradient(#401303, #00271c);
    border-radius: 5px;
    padding:       8px 20px;
    color:         #cfff00;
    display:       block;
    font:          normal 700 24px/1 "Ubuntu", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px #000000;
}