body{
    padding: 0;
    margin: 0;
    background-color: rgba(19, 55, 0, 0.8);
    background-image: url("../img/DSC_1721.JPG");
    background-size: cover;
    color: #cfff00;
    font-family: 'Ubuntu', sans-serif;
}

.grid {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;


    display: grid;
    grid-template-columns: auto 65%;
    grid-template-rows: 150px auto;
}


.topnav{
    position: relative;
    top: 0px;
    background: rgba(64, 19, 3, 0.01);
    background: -webkit-linear-gradient(rgba(64, 19, 3, 0.01), rgba(64, 19, 3, 0.5));
    background: linear-gradient(rgba(64, 19, 3, 0.01), rgba(64, 19, 3, 0.5));
    height: 40px;
}
.opacityArea{
    grid-column-start: 1;
    grid-column-end: 3;
    opacity: 0.6;
    transition-duration: 1s;
    height: 150px;
}
.opacityArea:hover{
    opacity: 1.0;
}
.topnav div{
    display: inline;
    float: left;
}
.topNavButton{
    width: 10em;
    background: rgba(64, 19, 3, 0.8);
    background:    -webkit-linear-gradient(rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8));
    background:    linear-gradient(rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8));
    padding:       8px 20px;
    color:         #cfff00;
    display:       inline-block;
    font:          normal 700 24px/1 "Calibri", sans-serif;
    text-align:    center;
    text-decoration: none;
}
.topNavButton:hover{
    background: rgba(19, 55, 0, 0.8);
}
.expandable {
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}
.expandable ul {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}

.sidenav{
    margin-top: 5em;
}
.sideNavButton{
    background:    rgba(64, 19, 3, 0.8);
    background: linear-gradient(to right, rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8));
    background: -webkit-linear-gradient(to right, rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8));
    padding:       8px 20px;
    color:         #cfff00;
    font:          normal 700 24px/1 "Calibri", sans-serif;
    text-align:    center;
    text-decoration: none;
}
.sideNavButton:hover{
    background: rgba(64, 19, 3, 0.8);
}


.list{
    grid-column-start: 2;

}
.list td{
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 20px;
}
.list th{
    font-weight: normal;
    color: rgba(207, 255, 0, 0.6);
}




.insideButton{
    padding: 8px 20px;
    color: #cfff00;
    font: normal 700 24px/1 "Calibri", sans-serif;
    text-align: center;
    text-decoration: none;
    background: rgba(64, 19, 3, 0.8);
    background: linear-gradient(rgba(19, 55, 0, 0.8), rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8));
    background: -webkit-linear-gradient(rgba(19, 55, 0, 0.8), rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.81));
    width: 100%;
}
.insideButton:hover{
    cursor: pointer;
    background: rgba(64, 19, 3, 0.8);
}

.clickRowToUpdate {
    background: rgba(64, 19, 3, 0.8);
    background: linear-gradient(rgba(19, 55, 0, 0.8), rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8));
    background: -webkit-linear-gradient(rgba(19, 55, 0, 0.8), rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8));
}
.clickRowToUpdate td{
    padding: 8px 20px;
}
.clickRowToUpdate:hover{
    cursor: pointer;
    background: rgba(64, 19, 3, 0.8);
}
.detailed{
    grid-column-start: 2;
    width: 30em;
}

.detailed input{
    margin: 10px 0px 10px 0px;
    background: rgba(19, 55, 0, 0.8);
    background: linear-gradient(rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8), rgba(64, 19, 3, 0.8));
    background: -webkit-linear-gradient(rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8), rgba(64, 19, 3, 0.8));
    border: none;
    color: #cfff00;
    font-size: 1.5em;
    text-align: center;
    width: 30em;
}
.detailed input:focus{
    background: rgba(64, 19, 3, 0.8);
}
.detailed label, .detailed select{
    float: left; width: 10em; margin-right: 1em;
    color: rgba(207, 255, 0, 0.6);
    width: 100%;
}


.simpleButton{
    background:    rgba(19, 55, 0, 0.8);
    background:    -webkit-linear-gradient(rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8));
    background:    linear-gradient(rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8));
    border-radius: 5px;
    padding:       8px 20px;
    color:         #cfff00;
    display:       inline-block;
    font:          normal 700 24px/1 "Calibri", sans-serif;
    text-align:    center;
    text-decoration: none;
}
.simpleButton:hover{
    background: rgba(64, 19, 3, 0.8);
}
.registerButton{
    background:    #401303;
    background:    -webkit-linear-gradient(rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8));
    background:    linear-gradient(rgba(64, 19, 3, 0.8), rgba(19, 55, 0, 0.8));
    border-radius: 5px;
    padding:       8px 20px;
    color:         #cfff00;
    display:       block;
    font:          normal 700 24px/1 "Ubuntu", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px #000000;
}
.pagesNumbersBox{
    grid-column-start: 2;
}
