<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link th:href="@{/css/layout.css}" rel="stylesheet"/>
</head>
<body>
<div class="grid">

    <div class="topnav">
        <div>
            <a class="topNavButton" href="/">Strona główna</a>
        </div>
        <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <a class="topNavButton" href="/users">Użytkownicy</a>
        </div>
        <div style="float: right;">
            <a class="topNavButton" href="/login">Logowanie</a>
        </div>
    </div>

    <div class="sidenav">
        <div sec:authorize="hasAnyRole('ROLE_TEACHER')">
            <a class="sideNavButton" href="/dancers/addNewDancer">Dodaj tancerza</a>
        </div>
    </div>

    <div class="list">
        <table cellspacing="0">
            <tr>
                <th>id</th>
                <th>imię</th>
                <th>nazwisko</th>
                <th>numer telefonu</th>
            </tr>
<!--th:href="@{/dancers/update(id=${dancer.id})}"-->
            <!--/*@thymesVar id="dancers" type="java.util.List"*/-->
            <tr class="clickRowToUpdate" th:object="${dancer}" th:each="dancer : ${dancers}">
                <!--/*@thymesVar id="dancer" type="com.kavlord.teacher.model.Dancer"*/-->
                <td th:text="*{id}"></td>
                <td th:text="*{firstName}"></td>
                <td th:text="*{lastName}"></td>
                <td th:text="*{phoneNumber}"></td>
                <td style="display: none"><a th:href="@{/dancers/details(id=*{id})}"></a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>