<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
</head>
<body>
<div class="grid">
    <div id="topnav">
        <div style="display: inline">
            <a class="topNavButton" href="/"><img alt="strona główna"
                                                  src="https://dabuttonfactory.com/button.png?t=strona+g%C5%82%C3%B3wna&f=Ubuntu-Bold&ts=24&tc=cfff00&hp=20&vp=8&c=0&bgt=gradient&bgc=401303&ebgc=00271c"></a>
        </div>
        <div style="float:right; display: inline">
            <a class="topNavButton" href="/login"><img alt="logowanie"
                                                  src="https://dabuttonfactory.com/button.png?t=logowanie&f=Ubuntu-Bold&ts=24&tc=cfff00&hp=20&vp=8&c=0&bgt=gradient&bgc=401303&ebgc=00271c"></a>
        </div>
    </div>
</div>
</body>
</html>