<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/script.js}" defer></script>
</head>
<body>
<div class="grid">
    <div class="opacityArea">
        <div class="topnav">
            <div>
                <a class="topNavButton" href="/">Strona główna</a>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_TEACHER')" class="expandable">
                <a th:href="@{/dancers}" class="topNavButton">Tancerze</a>
                <ul>
                    <li th:each="group : ${groups}" th:object="${group}"><a th:text="*{name}" class="topNavButton" th:href="@{/dancers/group(groupId = *{id})}"></a></li>
                </ul>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="topNavButton" href="/users">Użytkownicy</a>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="topNavButton" href="/teachers">Nauczyciele</a>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="topNavButton" href="/groups">Grupy</a>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="topNavButton" href="/lessons">Zajęcia</a>
            </div>
            <div style="float: right;" sec:authorize="isAnonymous()">
                <a class="topNavButton" href="/login">Zaloguj</a>
            </div>
            <div style="float: right;" sec:authorize="isAuthenticated()">
                <a class="topNavButton" href="/logout">Wyloguj</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>