<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link th:href="@{/css/layout.css}" rel="stylesheet"/>
</head>
<body>



<div class="grid">
    <div class="opacityArea">
        <div class="topnav">

            <div>
                <a class="topNavButton" href="/">Strona główna</a>
            </div>

            <div sec:authorize="hasAnyRole('ROLE_TEACHER')" class="expandable">
                <a th:href="@{/dancers}" class="topNavButton">Tancerze</a>
                <ul>
                    <li th:each="group : ${groups}" th:object="${group}">
                        <a th:text="*{name}" class="topNavButton" th:href="@{/dancers/group(groupId = *{id})}"></a>
                    </li>
                </ul>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="topNavButton" href="/teachers">Nauczyciele</a>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="topNavButton" href="/users">Użytkownicy</a>
            </div>


            <div style="float: right;" sec:authorize="isAnonymous()">
                <a class="topNavButton" href="/login">Zaloguj</a>
            </div>

            <div style="float: right;" sec:authorize="isAuthenticated()">
                <a class="topNavButton" href="/logout">Wyloguj</a>
            </div>

        </div>
    </div>



    <div class="sidenav">
        <div sec:authorize="hasAnyRole('ROLE_TEACHER', 'ROLE_ADMIN')">
            <a class="sideNavButton" href="/lessons/addLesson">Dodaj zajęcia</a>
        </div>
    </div>



    <div class="list">
        <table cellspacing="0">
            <caption class="title" style="margin-top: 0; padding-left: 1em;">Zajęcia</caption>

            <tr>
                <th>grupa</th>
                <th>data</th>
                <th>nauczyciel</th>
                <th>temat</th>
            </tr>

            <tr class="clickRowToUpdate" th:each="lesson : ${lessons}" th:object="${lesson}">
                <td th:text="*{group.name}"></td>
                <td th:text="*{#dates.format(date, 'yyyy-MM-dd')}"></td>
                <td th:if="*{teachers.size() == 0}">brak danych</td>
                <td th:each="teacher : *{teachers}" th:text="${teacher.firstName + ' ' + teacher.lastName} + ' '"></td>
                <td th:text="*{description}"></td>
                <td style="display: none"><a th:href="@{/lessons/details(id=*{id})}"></a></td>
            </tr>

        </table>
    </div>
    <div class="pagesNumbersBox">
        <div th:if="${lessons.totalPages > 0}" th:each="pageNumber : ${pagesNumbersList}" class="pagesNumbers">
            <a th:href="@{/lessons(size=${lessons.size}, page=${pageNumber})}"
               th:text="${pageNumber}"
               th:unless="${pageNumber == lessons.getNumber() + 1}"></a>
            <p th:if="${pageNumber == lessons.getNumber() + 1}" th:text="${pageNumber}"></p>
        </div>
    </div>
    <div th:if="${lessons.isEmpty()}">Nie ma jeszcze żadnych lekcji.</div>


</div>
</body>
</html>