<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link th:href="@{/css/layout.css}" rel="stylesheet"/>
</head>
<body>
<div class="grid">
    <div class="opacityArea">
        <div class="topnav">
            <div>
                <a class="topNavButton" href="/">Strona główna</a>
            </div>

            <div th:if="${objectTypeName.equals('Teacher')}" sec:authorize="hasAnyRole('ROLE_TEACHER')" class="expandable">
                <a th:href="@{/dancers}" class="topNavButton">Tancerze</a>
                <ul>
                    <li th:each="group : ${groups}" th:object="${group}"><a th:text="*{name}" class="topNavButton" th:href="@{/dancers/group(groupId = *{id})}"></a></li>
                </ul>
            </div>
            <!--or-->
            <div th:if="${objectTypeName.equals('Dancer')}" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="topNavButton" href="/teachers">Nauczyciele</a>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="topNavButton" href="/groups">Grupy</a>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="topNavButton" href="/users">Użytkownicy</a>
            </div>

            <div style="float: right;" sec:authorize="isAnonymous()">
                <a class="topNavButton" href="/login">Zaloguj</a>
            </div>
            <div style="float: right;" sec:authorize="isAuthenticated()">
                <a class="topNavButton" href="/logout">Wyloguj</a>
            </div>
        </div>
    </div>

    <div class="sidenav">

        <div th:if="${objectTypeName.equals('Dancer')}" sec:authorize="hasAnyRole('ROLE_TEACHER')">
            <a class="sideNavButton" href="/dancers/addNewDancer">Dodaj tancerza</a>
        </div>
        <!--or-->
        <div th:if="${objectTypeName.equals('Teacher')}" sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <a class="sideNavButton" href="/teachers/addNewTeacher">Dodaj nauczyciela</a>
        </div>

    </div>
    <div class="list">
        <h2 th:if="${errorMessage!=null}" th:text="${errorMessage}"></h2>
        <select id="groupId" onchange="if (this.value) window.location.href='/dancers/filter/' + this.value">
            <option th:value="0" th:text="${'Pokaż wszystkich'}"></option>
            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}" th:selected="${group.id == groupFiltered}"></option>
        </select>

        <table cellspacing="0">
            <caption class="title" style="margin-top: 0; padding-left: 1em;" th:if="${objectTypeName.equals('Teacher')}">Nauczyciele</caption>
            <caption class="title" style="margin-top: 0; padding-left: 1em;" th:if="${objectTypeName.equals('Dancer')}">Tancerze</caption>
            <tr>
                <th>imię</th>
                <th>nazwisko</th>
                <th>numer telefonu</th>
            </tr>
            <tr class="clickRowToUpdate" th:object="${person}" th:each="person : ${people}">
                <td th:text="*{firstName}"></td>
                <td th:text="*{lastName}"></td>
                <td th:text="*{phoneNumber}"></td>
                <td th:if="${objectTypeName.equals('Teacher')}" style="display: none"><a th:href="@{/teachers/details(id=*{id})}"></a></td>
                <!--or-->
                <td th:if="${objectTypeName.equals('Dancer')}" style="display: none"><a th:href="@{/dancers/details(id=*{id})}"></a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>