<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sukces!</title>
    <script type="text/javascript"
            charset="UTF-8"></script>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
<h1>Powiodło się!</h1>
    <button class="registerButton" type="button" onclick="location.href='/'">Suuper</button>
</div>
</body>
</html>