<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>users</title>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="grid">
    <div class="opacityArea">
        <div class="topnav">
            <div>
                <a class="topNavButton" href="/">Strona główna</a>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_TEACHER')">
                <a class="topNavButton" href="/dancers">Tancerze</a>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="topNavButton" href="/teachers">Nauczyciele</a>
            </div>
            <div style="float: right;" sec:authorize="isAnonymous()">
                <a class="topNavButton" href="/login">Zaloguj</a>
            </div>
            <div style="float: right;" sec:authorize="isAuthenticated()">
                <a class="topNavButton" href="/logout">Wyloguj</a>
            </div>
        </div>
    </div>

    <div class="list" th:unless="${userPage.isEmpty()}">
        <table cellspacing="0">
            <caption class="title" style="margin-top: 0; padding-left: 1em;" >Użytkownicy</caption>
            <tr>
                <th>login</th>
                <th>email</th>
                <th style="width: auto">roles</th>
            </tr>
            <tr th:each="user : ${userPage}" th:object="${user}" class="clickRowToUpdate">
                <td th:text="*{login}"></td>
                <td th:text="*{email}"></td>
                <td th:each="role : *{getShortRoleNames()}" th:text="${role} + ' '"></td>
                <td style="display: none"><a th:href="@{/user/details(id=*{id})}"></a></td>
            </tr>
        </table>
    </div>
    <div class="pagesNumbersBox">
        <div th:if="${userPage.totalPages > 0}" th:each="pageNumber : ${pagesNumbersList}" class="pagesNumbers">
            <a th:href="@{/users(size=${userPage.size}, page=${pageNumber})}"
               th:text="${pageNumber}"
               th:unless="${pageNumber == userPage.getNumber() + 1}"></a>
            <p th:if="${pageNumber == userPage.getNumber() + 1}" th:text="${pageNumber}"></p>
        </div>
    </div>
    <div th:if="${userPage.isEmpty()}">Nie ma jeszcze żadnych użytkowników.</div>
</div>
</body>
</html>